.class{
    text-decoration: none;
    color: black;
    padding: 10px 50px;
    border-radius: 10px;
    background-image: linear-gradient(yellow,orange);

}
.fahad{
    
    display: flex;
    border-radius: 90%;
}
body{
    background-color: bisque;
}